    <h4 class="pull-left">Comments</h4>

    <table class="table">
      <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Comment</th>
        <th>App</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

   <%= render partial:'comment', collection:@comments %>
   
    </table>

    <br />
