<div id="main_wrap">

    <div class="main_grab">
        <h1>Launch Your APP</h1>
        
        <a class="btn" style="width:330px;height:50px;line-height:50px;background-color:#36454F;" href="/apps/new">Register</a>

    </div>



</div>

<div class="bottom_home">

  <div class="container" style="height:100%;">

    <% @apps.each do |app| %>
      <%= render 'homeapp', app: app %>

    <% end %>
  </div>

</div>
