<h1>Our wonderful apps!</h1>

<table class="table success">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Codebase url</th>
    <th>Description</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render partial:'app', collection:@apps %> 
</table>

<br />

<%= link_to 'Enter a new app here!', new_app_path %>
