<!-- <div id="main_wrap">

    <div class="main_grab">
        <h1>Launch Your APP</h1>
        
        <a class="btn" style="width:330px;height:50px;line-height:50px;background-color:#36454F;" href="/apps/new">Register</a>

    </div>


</div> -->
<!-- <div class="container main-page">




</div> -->







<!-- <h1>Our wonderful apps!</h1>
 -->
<div class="container">
    <table class="table success">
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Codebase url</th>
        <th>Description</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <%= render partial:'app', collection:@apps %>
    </table>

    <br />
    <%= link_to 'Enter a new app here!', new_app_path %>
</div>

