// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

//background
.body-background {
  background-image: url('grey_wash_wall.png');
}
 //bracket
table.bracket {
    border-collapse: collapse;
    border: none;
}

.bracket td {
    vertical-align: middle;
    width: 30em;
    margin: 0;
    padding: 10px;
}

.bracket td p {
    border-bottom: solid 1px black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.bracket th{
    text-align:center;
}

// Navbar
header{
  background-color: #36454F !important;
}
.navbar-inner {border:none; border-radius:none;
  background-color:#36454F !important;
  background-repeat: repeat-x;
  }          //background-image: url('img02.jpg')}
.navbar {

  background-color:#36454F;
  margin-bottom:0px;
   strong{
    text-shadow:none;
     color:RGB(255, 153, 0);
    }

    
}
.navbar div.navbar-inner div.container ul.nav li a{
      color:RGB(255, 153, 0);
      text-shadow:none;
    }
.navbar-inner .container {width:960px;}
ul.nav2 li a{font-weight:bold; color:white;}
.newsfeed-container {
  border: 1px solid lightgray;
  small {
    color: #4183C4;
  }
}

//tables
.table-rankings {
  border:none;
}
//forms

.new_app{
  //display:inline-block;

  .field{

    display:inline-block;
    margin:15px 30px;
    margin-left:0px;
    color:#52595D;
    font-weight:bold;
    input{
      width:180px;
    }
    label{
      font-weight:bold;
    }
  }

  #app_description{
    width:870px;
    height:200px;
    margin-bottom:15px;
    margin-top:0px;
  }

  .actions{
    margin-top:35px;


    .submit_it{
      float:right;
      padding-right:50px;
    }
  }

}

.new_comment{

  form > div:first-child {
  display: none !important;
  }


  .field{
    display:inline-block;
    margin:15px 30px;
    margin-left:0px;
    color:#52595D;
    font-weight:bold;
    input{
      width:180px;
    }
    label{
      font-weight:bold;
    }

  }

  .short_form_items{
    display:inline-block;
    width:300px;


    .field{
    display:block;
    }
  }

  #comment_description{
    height:300px;
    float:right;
    textarea{
      height:250px !important;
      width:575px;
    }
    margin-top:0px;
  }
}



//Hero-Unit
.hero-unit {
  background-image: url('romney-obama-debate.jpg');
  color: white;
}
//Thumbnails
.thumbnails{padding-left: 10px;}
.thumbnail {border: solid 5px lightgrey;
img{
  border: solid 1px black;
  height:200px;
  width: 300px;
}
}
.user-feed{padding-bottom: 10px}
.active{border-bottom-color:red; box-shadow: none;}
.news-feed {
    list-style:none;
  li{
  padding-top: 20px;
  padding-bottom:20px;
  border-bottom: 1px solid #F1F1F1;
}
i {padding-right: 11px;}
span{
  color: lightgrey;
}
}

// Homepage Wrapper

#main_wrap{

  width:100%;
  height:550px;
  background-image: image-url("space_cropped2.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  min-width: 900px;


  .main_grab{

    float:right;
    padding-right:150px;
    padding-top:100px;

    h1{

      color:RGB(255, 153, 0);
      margin-bottom:20px;
    }
    .btn:hover, .btn:focus {
    background-position: 0 -15px;
    background-color: #E6E6E6 !important;
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    text-decoration: none;
    transition: none;
    }

    .home_button{
       -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
      -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
      box-shadow:inset 0px 1px 0px 0px #fce2c1;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
      background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
      background-color:#ffc477;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1px solid #eeb44f;
      display:inline-block;
      color:#ffffff;
      font-family:arial;
      font-size:30px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:1px 1px 0px #cc9f52;
      text-align:center;
   
    }

  }





}

//Body

body {position:relative; z-index:1; height:100%; font-family:"Source Sans Pro",Sans-Serif,Helvetica,Arial}

.repository-container {
  overflow: auto;
  margin-top: 20px;
  border: 1px solid #dddddd;
  .repository-header {
    width: 380px;
    overflow:auto;
    display: inline-block;
    background-color: #F1F1F1;
    p {
      display: inline-block;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
    }
    button {
      display: inline-block;
      float: right;
      margin-right: 4px;
      margin-top: 4px;
    }
    #repo-quantity {
      color: lightgray;
    }
  }  
  .repository-search {
    background: #fafafb;
    padding-left: 5px; 
    #repo-searchbox {
      width: 340px;
    }
  }
  ul.nav-tabs {
    li a {
      color: gray;
    }
  }
  .repository-list {
    ul {
      list-style: none;
      margin: 0;
      li {
        padding: 5px;
        border-top: 1px solid #e5e5e5;
        i {
          padding-right: 8px;
        }
        a {
        }
      }
    }
  }
}


//Text Areas
textarea { resize:none; }

//sitemap
.sitemap {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px;
  font-size: 12px;
  display: -webkit-flex;
  display: flex;
  .sitemap-column {
    flex: 1;
    padding: 0 30px;
    h4 {
      font-size: 12px;
      margin: 0px;
    }
    ul {
      margin: 0;
      list-style: none;
    }
    li {
      a {
      }
    }
  }
}

//frontpage bottom

.bottom_home{

  width:100%;
  height:250px;
  background-color:#36454F;


  .home_bottom{
    //padding-top:15px;

    float:left;
    width:33%;
    margin:0 Auto;
    height:100%;
    vertical-align:center;

    h3{
      padding-top:15px;
      color:#FF9900;
      text-align:center;
      a{
        color:#FF9900;
      }
      a:visited{
        color:#FF9900;
      }
    }
    p {
      color:#FF9900;
      padding:0 10px;
    }

  }

  .home_bottom:nth-of-type(2) {
    //border:1px solid #FF9900;
    border-right:1px dotted #FF9900;
    border-left:1px dotted #FF9900;
  }

}

//footer
.final-footer {
  padding-top: 10px;
  background-image: url('img02.jpg');
  ul.footer-ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 10px;
    }
    .footer-image {
      vertical-align: center;
      text-align: center;
    }
  }
  img {
    padding-left: 95px;
    padding-top: 10px;
  }
  h5.copyright {
    text-align: right;
    font-weight: normal;
    color: gray;
    font-size: 12px;
  }
}

.footer-image {
  padding-left: 35px
}

//Show an individual App


.show_container{
  float:left;
  width:70%;
}

.prop_container{
  float:right;
  padding-left:5%;
  width:25%;

  h1{
    color:#FF9900;
    font-size:78px;
    text-align: center;
    padding-bottom:10px;
  }
  p{
    font-weight:bold;
    text-align: center;
  }

  .prop_button{
    padding-left:50px;
  }
  input{

    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
   
  }




  }

.comment_container{
  display:inline-block;
}

